build --define repo=docker.io/cloudflare --define namespace=node-remediation
test  --define repo=docker.io/cloudflare --define namespace=node-remediation
run   --define repo=docker.io/cloudflare --define namespace=node-remediation

try-import %workspace%/user.bazelrc
