apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sciuro
rules:
- apiGroups: [""]
  resources: ["nodes"]
  verbs:     ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["nodes/status"]
  verbs:     ["patch"]
